<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Setting
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Signed in as <%=current_user.email %></a></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, class:'dropdown-item' %></li>
            </ul>
          </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to 'Sign In', new_user_session_path, class:'nav-link active' %>
            </li>
          <%end%>
      </ul>
      <ul class="navbar-nav mb-2 me-3 mb-lg-0">
        <li class="nav-item">
        <div class='border border-radius custom-rounded' >
          <%= link_to 'What is in your mind', new_post_path, class:'nav-link active' %>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>